/* 
  ==========================================
  CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
  ==========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  ==========================================
  Custom styles
  ==========================================
*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 238);
}

a:visited {
  color: rgb(0, 0, 238);
}

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.map-container {
  position: relative;
  overflow: hidden;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map a:hover, .map a:focus {
  text-decoration: none;
  color: white;
}

.overlays {
  display: none;
}

.phone, .address {
  white-space: nowrap;
}

.phone:after {
  content: ",";
}

.address:after {
  content: ".";
}

/*.phone, .address, .info {
  display: block;
}*/

.url {
  margin-right: 5px;
}

.btn-default:focus {
  background-color: #fff;
  border-color: #ccc;
}

.map .index {
  position: absolute;
  /*margin: -9px 0 0 -9px;*/
}

.circle {
  position: absolute;
  background-color: #38b551;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 0;
}

.map .index:hover, .map .hover {
  background-color: #e84048;
  z-index: 2;
}

.index {
  display: block;
  background-color: #eb1c26;
  color: white;
  font-size: 13px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  padding-top: 2px;
  text-align: center;
}

.index.active {
  width: 28px;
  height: 28px;
  font-size: 17px;
  font-weight: bold;
  /*margin: -14px 0 0 -14px;*/
  z-index: 1;
  border: 2px solid #fff;
  cursor: default;
  padding-top: 3px;
}

.index.active div {
  padding-top: 3px;
}

.index.active:hover, .index.active.hover {
  background-color: #eb1c26;
}

.target {
  padding: 10px;
  cursor: default;
}

.target:hover, .hover {
  background-color: #fffdf2;
}

.target.active {
  background-color: #ffee7d;
}

.target::after {
  content: "";  
  clear: both;
  display: table;
}

.list-index-container {
  float: left;
  width: 18px;
  min-height: 1px;
}

.list-text-container {
  margin-left: 28px;
}

.list-text-container.sub {
  margin-top: 10px;
}

.list-text-container p {
  margin: 0;
}

.name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 3px;
}

.fb-logo {
  vertical-align: baseline;
}

#map-img {
  width: 100%;
  height: 100%;
  position: absolute;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.zoom-buttons, .toggle-buttons, .logo-container, .move-button {
  position: absolute;
  clear: both;
  z-index: 3;
}

.zoom, .move-button {
  opacity: 0.7;
}

.zoom:hover, .toggle-buttons:hover, .move-button:hover {
  opacity: 1;
  background-color: white;
}

.toggle, .move-button {
  border-radius: 0;
  box-shadow: 0 0 10px #808080;
}

.zoom-buttons {
  border-radius: 0;
  box-shadow: 0 0 10px #808080;
}

.zoom:first-child {
  height: 41px;
  border-bottom: 1px solid #ccc;
}

.zoom, .move-button {
  width: 40px;
  height: 40px;
  border: none;
}

.zoom {
  border-radius: 0;
  padding: 0;
  font-size: 12px;
}

.up-button, .down-button {
  margin-left: -20px;
}

.left-button, .right-button {
  margin-top: -20px;
}

.left-button {
  top: 50%;
  left: 0;
}

.right-button {
  top: 50%;
  right: 0;
}

.up-button {
  top: 0;
  left: 50%;
}

.down-button {
  bottom: 0;
  left: 50%;
}

.logo-container {
  width: 200px;
  top: 0;
  left: 0;
  padding-right: 30px;
  background: rgba(255,255,255,0.7); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* Standard syntax */
}

.logo {
  width: 100%;
}

.toggle-buttons {
  bottom: 0;
  left: 0;
}

.toggle, .toggle:hover {
  padding: 0;
  border: 2px solid white;
}

.toggle span {
  text-transform: capitalize;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}

.zoom-buttons {
  bottom: 0;
  right: 0;
}

.zoom-buttons button {
  display: block;
}

.list-container {
  background-color: #fff8c8;
  overflow-y: scroll;
}

.event-display {
  position: absolute;
  color: white;
  background-color: #e84048;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1px 5px 0;
  letter-spacing: 1.1px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.event-display:hover,
.event-display.hover {
  background-color: #e84048;
  z-index: 2;
}

.event-display.active {
  z-index: 1;
  font-size: 17px;
  border: 2px solid white;
  cursor: default;
}

.kunta {
  background-color: #fed88f;
}

.ol-control {
  z-index: 3;
}

.ol-zoom {
  bottom: .5em;
  top: auto;
}

/*.list {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0 20px;
}*/

@media (orientation: landscape) {
  .half {
    width: 50%;
    height: 100%;
    float: left;
  }
}

@media (orientation: portrait) {
  .half {
    width: 100%;
    height: 50%;
  }
}