/* 
  ==========================================
  # Filter
  ==========================================
*/

.toggle-filter {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translate( -50%, 0 );
  background: #fff8c8;
  border: 1px solid #bbb;
  font: inherit;
  padding: .25em .5em;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .04em;
  z-index: 5;
}

.filter {
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 180px;
  transform: translate( -50%, 0 );
  margin: auto;
  z-index: 4;
  text-align: center;
  display: none;
  padding-bottom: calc( 1em + 26px );
  background: #fff8c8;
  border: 1px solid #bbb;
  border-bottom: none;
}

.toggle-filter--filtered {
  background: #ffee7d;
}

.filter__list {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.filter__option {
  padding: .5em;
  cursor: pointer;
}

.filter__option:hover {
  background: #fffdf2;
}

.filter__option--selected,
.filter__option--selected:hover {
  background: #ffee7d;
}

.filter__icon {
  display: inline-block;
  background-color: #eb1c26;
  color: white;
  font-size: 13px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  padding-top: 2px;
  text-align: center;
  float: left;
  margin-right: .5em;
}

.filter__option--show-all .filter__icon {
  visibility: hidden;
}

/* 
  ==========================================
  # List
  ==========================================
*/
.toggle-list {
  position: absolute;
  top: .5em;
  right: .5em;
  background: #fff8c8;
  border: 1px solid #bbb;
  font: inherit;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .04em;
  z-index: 4;
  width: 26px;
  height: 26px;
}

.list-container {
  background-color: #fff8c8;
  z-index: 3;
  visibility: hidden;
  height: 100%;
  width: 100%;
  max-width: 370px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #bbb;
}

.list-container--minified {
  z-index: 5;
}

.list-container--expanded {
}

.search {
  margin: .5em;
}

.search__field {
  width: calc( 100% - 26px - .5em );
  height: 26px;
  padding-left: .5em;
  padding-right: .5em;
}

.list {
  overflow-y: auto;
  height: calc( 100% - 52px - 2em );
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

/* 
  ==========================================
  # Preview
  ==========================================
*/

.preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  max-width: 370px;
  margin: auto;
  background-color: #fff8c8;
  z-index: 5;
}

.preview--small,
.preview--resizing,
.preview--expanded {
  border: 1px solid #bbb;
  border-bottom: none;
}

.preview--resizing {
  z-index: 5;
}

.preview--expanded {
  overflow-y: auto;
  z-index: 5;
}

.preview .target:hover {
  background-color: #fff8c8;
}

.expand-preview {
  float: right;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: transform 400ms;
  transition: transform 400ms;
}

.preview--expanding .expand-preview,
.preview--expanded .expand-preview {
  transform: rotateX(180deg);
}

/* 
  ==========================================
  # Uncategorized
  ==========================================
*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-width: 250px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 238);
}

a:visited {
  color: rgb(0, 0, 238);
}

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #fff8c8;
  position: relative;
}

.map-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: white;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map a:hover, .map a:focus {
  text-decoration: none;
  color: white;
}

.overlays {
  display: none;
}

.phone, .address {
  white-space: nowrap;
}

.phone:after {
  content: ",";
}

.address:after {
  content: ".";
}

.url {
  margin-right: 5px;
}

.btn-default:focus {
  background-color: #fff;
  border-color: #ccc;
}

.map .index {
  position: absolute;
  /*margin: -9px 0 0 -9px;*/
}

.circle {
  position: absolute;
  background-color: #38b551;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 0;
}

.map .index:hover, .map .hover {
  background-color: #e84048;
  z-index: 2;
}

.index {
  display: block;
  background-color: #eb1c26;
  color: white;
  font-size: 13px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
  padding-top: 2px;
  text-align: center;
}

.index.active {
  width: 28px;
  height: 28px;
  font-size: 17px;
  font-weight: bold;
  /*margin: -14px 0 0 -14px;*/
  z-index: 1;
  border: 2px solid #fff;
  cursor: default;
  padding-top: 3px;
}

.index.active div {
  padding-top: 3px;
}

.index.active:hover, .index.active.hover {
  background-color: #eb1c26;
}

.target {
  padding: 10px;
  cursor: default;
}

.target:hover, .hover {
  background-color: #fffdf2;
}

.target.active {
  background-color: #ffee7d;
}

.target::after {
  content: "";  
  clear: both;
  display: table;
}

.target__additional-content {
  clear: both;
  display: none;
  padding: 0 10px;
}

.target__image {
  width: 100%;
  height: auto;
}

.list-index-container {
  float: left;
  width: 18px;
  min-height: 1px;
}

.list-text-container {
  padding-left: 10px;
  float: left;
  width: calc(100% - 18px - 28px);
}

.list-text-container.sub {
  margin-top: 10px;
}

.list-text-container p {
  margin: 0;
}

.name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 3px;
  font-size: 1em;
}

.fb-logo {
  vertical-align: baseline;
}

.toggle-buttons,
.logo-container {
  position: absolute;
  clear: both;
  z-index: 3;
}

.toggle-buttons:hover {
  opacity: 1;
  background-color: white;
}

.toggle {
  border-radius: 0;
  box-shadow: 0 0 10px #808080;
}

.logo-container {
  width: 200px;
  top: 0;
  left: 0;
  padding-right: 30px;
  background: rgba(255,255,255,0.7); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0)); /* Standard syntax */
}

.logo {
  width: 100%;
}

.toggle-buttons {
  bottom: 0;
  left: 0;
}

.toggle, .toggle:hover {
  padding: 0;
  border: 2px solid white;
}

.toggle span {
  text-transform: capitalize;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}

.event-display {
  position: absolute;
  color: white;
  background-color: #e84048;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1px 5px 0;
  letter-spacing: 1.1px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.event-display:hover,
.event-display.hover {
  background-color: #e84048;
  z-index: 2;
}

.event-display.active {
  z-index: 1;
  font-size: 17px;
  border: 2px solid white;
  cursor: default;
}

.kunta {
  background-color: #fed88f;
}

.ol-control {
  z-index: 3;
}

.ol-zoom {
  bottom: .5em;
  top: auto;
}